<div class="col s6">
    <h3 class="header">{{ .name }}</h3>
    <div class="card horizontal">
        <div class="card-image">
          <img src="{{ .image }}">
        </div>
        <div class="card-stacked">
        <div class="card-content">
            <p>${{ .price }} {{ if gt .quantity 1 }} for {{ .quantity }} {{ else }} each {{ end }}</p>
            <p>can be dairy free: {{ .df }}</p>
            <p>can be vegan: {{ .ve }}</p>
            <p>can be gluten free: {{ .gf }}</p>
            <br />
            <p>{{ .description }}</p>
        </div>
        <div class="card-action">
            <button
                class="snipcart-add-item waves-effect waves-light btn"
                data-item-id="{{ .id }}"
                data-item-name="{{ .name }}"
                data-item-price="{{ .price }}"
                data-item-url="{{ .url }}">
                    <i class="material-icons right">shopping_cart</i>
                    Add to cart
            </button>
        </div>
        </div>
    </div>
</div>